.cardOverlayContainer {
  border: 1px solid var(--hoveraccent) !important;
}

.itemProgressBar {
  height: 5px;
  background: rgba(51,51,51,.8);
}

.mdl-slider-background-upper {
  background: var(--hoveraccent);
}

.playbackProgress>div {
    background-color: #fff5;
}

.transcodingProgress>div {
    background-color: #fff5;
}
