.navMenuOption-selected {
    color: #00a4dc;
}
.mdl-slider-background-lower {
  background-color: #00a4dc;
}
.mdl-slider::-moz-range-thumb {
  background: #00a4dc;
}
.iconOsdProgressInner {
  background: #00a4dc;
}
.itemProgressBarForeground {
  background: #00a4dc !important;
}

.paper-icon-button-light:hover,
.raised.homeLibraryButton:hover,
.button-flat:hover,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.paper-icon-button-light:hover:not(:disabled),
.emby-tab-button:hover,
.selectLabelFocused,
.inputLabelFocused,
.textareaLabelFocused,
.button-link {
  color: #00a4dc !important;
}

.navMenuOption:hover,
.actionSheetMenuItem:hover {
  background-color: #00a4dc80 !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
  border: 0.01em solid #00a4dc80 !important;
}

.mdl-spinner__layer-1 {border-color: #00a4dc;}
