/*Sharp corners*/
.formDialogHeader {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.formDialogFooter {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
.cardOverlayContainer {
	border-radius: 0em !important;
}
.paperList,
.cardContent,
.sessionNowPlayingInnerContent, 
.listItem:hover, 
.cardImage,
.fab,
.raised,
.multiSelectCheckboxOutline,
.itemSelectionPanel,
.cardContent-button, 
.cardContent-shadow, 
.itemDetailImage, 
.cardOverlayButton-hover,
.cardImageContainer,
.cardPadder,
.listItemImage,
.listItemImageButton,
.listItemButton,
.headerButton,
.paper-icon-button-light,
.innerCardFooter,
.blurhash-canvas,
.actionSheetMenuItem:hover,
.dialog,
.countIndicator,
.playedIndicator,
.listItemIcon,
.listItem-border,
.button-flat,
.visualCardBox,
.checkboxOutline,
.emby-select-withcolor,
.chapterThumbTextContainer,
.chapterThumbContainer,
.chapterThumb,
.emby-input, 
.emby-textarea, 
.emby-select-withcolor,
.cardOverlayButtonIcon {
  border-radius: 0px !important;
}
progress {
    border-radius: 0px;
}
.osdPoster img {
  border-radius: 0em; border: none;
}
.mdl-slider::-moz-range-thumb {
  border-radius: 0px;
}
.mdl-slider::-ms-thumb {
  border-radius: 0px;
}
.mdl-slider::-webkit-slider-thumb {
  border-radius: 0px;
}
progress::-webkit-progress-bar {
  border-radius: 0px;
}
progress::-moz-progress-bar {
  border-radius: 0px;
}
progress::-webkit-progress-value {
  border-radius: 0px;
}
div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: 0em;
	border-top-left-radius: 0em;
}
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: 0em;
	border-top-right-radius: 0em;
}
fieldset {
  border-radius: 0em;
}
.headerUserButtonRound {
  border-radius: 50px !important;
}
