.cardImageContainer, .raised {
    box-shadow: -2px -2px 4px 0 rgb(255, 255, 255, 0.6), 2px 2px 4px 0 rgba(0,0,0,.2) !important;
}

.backdropImage {
  filter: blur(22px) saturate(80%) contrast(12%) brightness(160%);
}

body,
h1,
h2,
h3,
h4,
.textActionButton,
.inputLabel,
.inputLabelUnfocused,
.fieldDescription,
.navMenuOption-selected,
.raised,
.countIndicator,
.playedIndicator,
.paper-icon-button-light {
    text-shadow: none !important;
    color: black;
}

.playedIndicator, .innerCardFooter {
    background: rgba(255, 255, 255, 0.3);
}

.backgroundContainer, .nowPlayingContextMenu, .nowPlayingPlaylist, html, .dialog{
    background-color: #cecece;
}

.formDialogHeader, .formDialogFooter {
    background-color: #eaeaea !important;
}

.cardOverlayContainer {
    background-color: rgba(200, 200, 200, 0.7);
}

.listItem:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.dialog,
.mainDrawer,
.toast,
.nowPlayingBarTop,
.paperList,
.visualCardBox,
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
    background-color: rgba(255, 255, 255, 0.6);
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: rgba(0, 0, 0, 0.7);
}
