@import url('https://ctalvio.github.io/Monochromic/default_style.css');
@import url('https://ctalvio.github.io/Monochromic/customcolor-advanced_style.css');
@import url('https://ctalvio.github.io/Monochromic/improve-performance_style.css');

video::-webkit-media-text-track-display {
    font-family: "Quicksand", sans-serif;
    font-size: 65%;
}

:root {--accent: 255, 255, 255;}
:root {--rounding: 0px;}

.countIndicator {
  background: rgba(var(--accent),0.8);
}
.backgroundContainer,
.formDialogHeader,
.formDialogFooter {
    background-color: rgba(var(--accent),0.15) !important;
}
.button-flat:hover {
	background: rgba(var(--accent),0.25);
}
.paper-icon-button-light:hover {
  background-color: rgba(var(--accent),0.25) !important;
}

.navMenuOption-selected {
  color: white;
}

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgba(var(--accent)),#111) !important;
}
.navMenuOption-selected, .selectionCommandsPanel {
    background: rgba(var(--accent), 0.8) !important;
}
.raised,
.fab,
a[data-role="button"] {
  background: rgba(var(--accent), 0.8) !important;
	transition: all 0.2s !important;
}

/*Glow accent*/
.raised.homeLibraryButton {
    box-shadow: 0px 0px 5px rgba(var(--accent), 0) !important;
    border: solid 1px rgba(var(--accent),0) !important;
}
.cardOverlayContainer:hover,
.dialog,
.toast,
.raised.homeLibraryButton:hover {
  box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
}
.cardOverlayContainer {
  border: solid 1px rgba(var(--accent),0.0) !important;
}

.cardImageContainer, .raised {
    box-shadow: -2px -2px 4px 0 rgb(255, 255, 255, 0.6), 2px 2px 4px 0 rgba(0,0,0,.2) !important;
}

.backdropImage {
  filter: blur(22px) saturate(80%) contrast(12%) brightness(160%);
}

body,
h1,
h2,
h3,
h4,
.textActionButton,
.inputLabel,
.inputLabelUnfocused,
.fieldDescription,
.navMenuOption-selected,
.raised,
.countIndicator,
.playedIndicator,
.paper-icon-button-light {
    text-shadow: none !important;
    color: black;
}

.playedIndicator, .innerCardFooter {
    background: rgba(255, 255, 255, 0.3);
}

.backgroundContainer, .nowPlayingContextMenu, .nowPlayingPlaylist, html, .dialog{
    background-color: #cecece !important;
}

.formDialogHeader, .formDialogFooter {
    background-color: #eaeaea !important;
}

.cardOverlayContainer {
    background-color: rgba(200, 200, 200, 0.7);
}

.listItem:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.dialog,
.mainDrawer,
.toast,
.nowPlayingBarTop,
.paperList,
.visualCardBox,
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
    background-color: rgba(255, 255, 255, 0.6);
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
    color: rgba(0, 0, 0, 0.7);
}

.material-icons {
    color: black !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.itemSelectionPanel {
  background: rgba(var(--accent), 0.25) !important;
}
.checkboxIcon {
    color: rgba(var(--accent));
}

/*Colors for loading spinner and other stuff*/
.mdl-spinner__layer-1 {border-color: rgba(var(--accent), 1);}
.mdl-spinner__layer-2 {border-color: rgba(var(--accent), .8);}
.mdl-spinner__layer-3 {border-color: rgba(var(--accent), .6);}
.mdl-spinner__layer-4 {border-color: rgba(var(--accent), .5);}


.defaultCardBackground1 {
	background-color: rgba(var(--accent), .5);
}
.defaultCardBackground2 {
	background-color: rgba(var(--accent), .4);
}
.defaultCardBackground3 {
	background-color: rgba(var(--accent), .8);
}
.defaultCardBackground4 {
	background-color: rgba(var(--accent), .7);
}
.defaultCardBackground5 {
	background-color: rgba(var(--accent), .6);
}
